<div class="mt-4 p-4 bg-light border" rounded>
  <h2>Sign Up</h2>
  <br />
  <form>
    <div class="mb-3 w-25">
      <label for="firstName" class="form-label">First Name</label>
      <input
        [(ngModel)]="user.firstName"
        name="firstName"
        type="firstName"
        class="form-control"
        id="firstName"
      />
    </div>
    <div class="mb-3 w-25">
      <label for="lastName" class="form-label">Last Name</label>
      <input
        [(ngModel)]="user.lastName"
        name="lastName"
        type="lastName"
        class="form-control"
        id="lastName"
      />
    </div>
    <div class="mb-3 w-25">
      <label for="userName" class="form-label">username</label>
      <input
        [(ngModel)]="user.userName"
        name="userName"
        type="userName"
        class="form-control"
        id="userName"
      />
    </div>
    <div class="mb-3 w-25">
      <label for="password" class="form-label">Password</label>
      <input
        [(ngModel)]="user.password"
        name="password"
        type="password"
        class="form-control"
        id="password"
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        [(ngModel)]="user.email"
        name="email"
        type="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" (click)="addUser()">
      Submit
    </button>
  </form>
</div>
<div class="mt-4 p-4 bg-light border" rounded>
  <div *ngIf="clientMessage.message.length > 0">
    {{ clientMessage.message }}
    <br />
    <p>stored object firstName is:</p>
    {{ customer.firstName }}
  </div>
</div>

